<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label">Nome do Cliente:</label>
							<input type="text" class="form-control" required  name="nome">
						</div>

						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label">Telefone:</label>
							<input type="text" name="telefone" class="form-control" required   placeholder="(xx)xxxxx-xxxx">
						</div>


                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Origem:</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option selected value="Celular">Celular</option>
                                <option value="Fixo">Fixo</option>
                        
                            </select>
                        </div>


						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label">Data do Contato:</label>
							<input type="date" class="form-control" name="data_contato" required  >
						</div>

						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label">Observação</label>
							<textarea class="form-control" name="observacao"  rows="3">Nenhuma observação.</textarea>
						</div>

						<button type="submit" id="btnInserir" class="btn btn-primary">Cadastrar</button>
